<ion-header>
  <ion-toolbar>
    <ion-title>project-credits</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title></ion-title>
  <ion-list>
    <ion-item>
      <ion-label>I have added this page to reference the api from which my app obtains information</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>The repository in which the api is contained is https://github.com/M-Media-Group/Covid-19-API</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>At said link all required information to use api will be found</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>The creators of the api have left it available to all who would wish to use it, with no requirements for authorization</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
